
#app {
    padding: 30px;
}

#todoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

#todoCounter {
    display: flex;
    justify-Content: space-between;
}
